.filter_container{
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 350px;
}
.filter>span{
    font-size: 12px;
    font-weight: 600;
    color: #525252;
    padding: 10px 0;
    display: block;
}
.checkbox_container{
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}
