.custom_checkbox input {
    display: none;
}

.custom_checkbox .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #5e9ae9;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom_checkbox input:checked + .checkbox {
    background-color: #ffffff;
    border-color: #5e9ae9;
}

.custom_checkbox input:checked + .checkbox::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 4px;
    width: 6px;
    height: 10px;
    border: solid #5e9ae9;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom_checkbox {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}
